---
BasedOnStyle: Google
IndentWidth: '4'
TabWidth: '4'
UseTab: ForIndentation
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IndentAccessModifiers: false
AccessModifierOffset: -4
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortBlocksOnASingleLine: false
BinPackArguments: false
...

