---
HeaderFilterRegex: '\.h$'
WarningsAsErrors: '*'

Checks: >
  -*,
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  clang-analyzer-*,
  portability-*,
  cert-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-do-while,
  -readability-use-anyofallof,
  -cert-err58-cpp,
  -readability-convert-member-functions-to-static,
  -modernize-use-integer-sign-comparison,
  -bugprone-branch-clone,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-build-using-namespace,
  -bugprone-unchecked-optional-access,
  -readability-magic-numbers,
  -hicpp-uppercase-literal-suffix,
  -readability-uppercase-literal-suffix,
  -readability-implicit-bool-conversion,

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.NamespacePrefix
    value: N
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassPrefix
    value: T
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefPrefix
    value: T
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasPrefix
    value: T
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.StructPrefix
    value: T
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumPrefix
    value: E
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.PrivateMemberCase
    value: CamelCase
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.PublicMemberCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprVariableCase
    value: UPPER_CASE

